AWS_REGION=us-east-1
DB_INSTANCE_IDENTIFIER=classicmodels-db
DB_HOST=classicmodels-db.xxxxx.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=troque-localmente
DB_NAME=classicmodels
# Opcional para validar certificado TLS do RDS:
# DB_SSL_CA=C:\caminho\para\global-bundle.pem
